* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.25rem;
}
html {
  font-family: 'Inter', sans-serif;
  background-color: #ff9f32;
  color: #fff;
}
body {
  margin: 0 10% 20% 10%;
}
h1 {
  font-size: 5rem;
  font-weight: 900;
  text-align: center;
  margin: 0.5em 0;
  text-shadow: 10px 10px 0 #ffcb8f;
  filter: drop-shadow(10px 10px 0 #ff5b32);
}